<h1 class="text-2xl font-bold">Listado de productos</h1>
<h3 class="text-lg">Total de productos
  <span class="text-info font-bold">{{productsResource.value()?.count}}</span>
</h3>
<div class="divider"></div>

<div class="flex gap-2 items-center h-20">
  <app-pagination [pages]="productsResource.value()?.pages ?? 0" [currentPage]="paginationService.currentPage()"></app-pagination>

  <select #selectPerPage (change)="productsPerpage.set(+selectPerPage.value)" class="select select-bordered w-32" >
    <option value="10" >10</option>
    <option value="20" >20</option>
    <option value="50" >50</option>
    <option value="100" >100</option>
  </select>

  <div class="flex flex-1"></div>
  <button class="btn btn-primary" routerLink="/admin/products/new">Nuevo producto</button>

</div>
<product-table [products]="productsResource.value()?.products ?? []" ></product-table>
