<div class="max-lg:collapse bg-base-300 lg:mb-4 shadow-sm w-full rounded-none">
  <input id="navbar-1-toggle" class="peer hidden" type="checkbox" />
  <label for="navbar-1-toggle" class="fixed inset-0 hidden max-lg:peer-checked:block"></label>
  <div class="collapse-title navbar">
    <div class="navbar-start">
      <label for="navbar-1-toggle" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <button routerLink="/" class="btn btn-ghost  font-extrabold text-2xl text-primary text-Montserrat">
        <i class="bi bi-caret-left-fill"></i>
        Urban
        <span class="text-warning">| Shop </span></button>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a
          routerLink="/gender/men"
          class="btn btn-ghost"
          routerLinkActive="text-primary">Hombres</a>
        </li>
        <li><a
          routerLink="/gender/women"
          class="btn btn-ghost"
          routerLinkActive="text-primary">Mujeres</a>
        </li>

        <li><a
          routerLink="/gender/kid"
          class="btn btn-ghost"
          routerLinkActive="text-primary">Kids</a>
        </li>
      </ul>
    </div>
    <div class="navbar-end gap-4">

      @if(authService.isAdmin()){
        <a routerLink="/admin" class="btn  text-warning">Admin Panel</a>
      }

      @if(authService.authStatus()==='authenticated')
      {
        <button class="btn btn-ghost">{{authService.user()?.fullName}}</button>
        <button class="btn btn-sm btn-error mr-2 cursor-pointer rounded-xl"
        (click)="authService.logout()">Salir</button>
      }
      @else if (authService.authStatus()==='not-authenticated') {
        <a routerLink="/auth/login" class="btn btn-warning mr-2 cursor-pointer">Login</a>
      }
      @else {
        <a class="btn btn-ghost">...</a>
      }
    </div>
  </div>

  <div class="collapse-content lg:hidden z-1">
    <ul class="menu">

        <li><a
          routerLink="/gender/men"
          lass="btn btn-ghost"
          routerLinkActive="text-primary">Hombres</a>
        </li>

        <li><a
          routerLink="/gender/women"
          lass="btn btn-ghost"
          routerLinkActive="text-primary">Mujeres</a>
        </li>

        <li><a
          routerLink="/gender/kid"
          lass="btn btn-ghost"
          routerLinkActive="text-primary">Kids</a>
        </li>


    </ul>
  </div>
</div>
