<h1 class="text-xl font-bold mt-2">Todos los productos</h1>
<h2 class="text-lg mb-5">Explora lo último en tendencias y encuentra tu estilo ideal entre todos nuestros productos.</h2>


<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 mt-2 gap-3">
  @for (product of productsResource.value()?.products; track product.id) {
    <product-card [product]="product" ></product-card>
  }
  @empty{
  <p class="col-span-full text-center py-10">
  <span class="text-3xl font-bold block mb-3">¡Ya casi está todo listo!</span>
  <i class="bi bi-arrow-repeat text-5xl text-primary animate-spin block mb-4"></i>
  <span class="text-gray-500 text-sm">
    Estamos obteniendo la información, esto puede tomar hasta 5 minutos la primera vez.<br>
    Puedes dejar esta pestaña abierta y volver en un momento.
  </span>
  </p>
  }
</div>
<div class="my-8">
  <app-pagination [pages]="productsResource.value()?.pages ?? 0" [currentPage]="paginationService.currentPage()"></app-pagination>

</div>
