<h1 class="text-2xl font-bold">{{ product().title }}</h1>
<div class="divider"></div>

<form [formGroup]="productForm" class="grid grid-cols-1 sm:grid-cols-2 gap-4"
  (ngSubmit)="onSubmit()">
  <!-- Datos generales -->
  <div class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold h-12">Datos generales</h2>
    <input
      type="text"
      placeholder="Título"
      class="input input-bordered w-full"
      formControlName="title"
      [class.border-red-500]="productForm.get('title')?.errors ?? false"
    />
    <form-error-label [control]="productForm.get('title')!"></form-error-label>

    <input formControlName="slug" type="text" placeholder="Slug" class="input input-bordered w-full"
      [class.border-red-500]="productForm.get('slug')?.errors ?? false"
    />
    <form-error-label [control]="productForm.get('slug')!"></form-error-label>

    <textarea
      class="textarea textarea-bordered"
      placeholder="Descripción"
      rows="6"
      formControlName="description"
      [class.border-red-500]="productForm.get('description')?.errors ?? false"
    ></textarea>
    <form-error-label [control]="productForm.get('description')!"></form-error-label>

    <h2 class="text-lg font-bold">Datos de venta</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
      <div>
          <input
            type="number"
            placeholder="Precio"
            class="input input-bordered w-full"
            formControlName="price"
            [class.border-red-500]="productForm.get('price')?.errors ?? false"
        />
        <form-error-label [control]="productForm.get('price')!"></form-error-label>
      </div>

      <div>

        <input
          type="number"
          placeholder="Inventario"
          class="input input-bordered w-full"
          formControlName="stock"
          [class.border-red-500]="productForm.get('stock')?.errors ?? false"
      />
      <form-error-label [control]="productForm.get('stock')!"></form-error-label>
      </div>


    </div>

    <!-- tags -->
    <input formControlName="tags" type="text" placeholder="Tags" class="input input-bordered w-full"
    [class.border-red-500]="productForm.get('tags')?.errors ?? false"
    />
    <form-error-label [control]="productForm.get('tags')!"></form-error-label>

    <!-- Botones para el género -->
    <div class="grid grid-cols-4 gap-2">
      <!-- <button class="btn btn-sm btn-outline">Masculino</button> -->
      <button type="button" class="btn btn-sm" [class.btn-primary]= "productForm.value.gender === 'men'"
      (click)="productForm.patchValue({gender: 'men'})">Masculino</button>
      <button type="button" class="btn btn-sm" [class.btn-secondary] = "productForm.value.gender === 'women'"
      (click)="productForm.patchValue({gender: 'women'})"
      >Femenino</button>
      <button type="button" class="btn btn-sm" [class.btn-warning]= "productForm.value.gender === 'kid'"
      (click)="productForm.patchValue({gender: 'kid'})">Kid</button>
      <button type="button" class="btn btn-sm" [class.btn-accent]= "productForm.value.gender === 'unisex'"
      (click)="productForm.patchValue({gender: 'unisex'})">Unisex</button>
    </div>

    <!-- <select class="select select-bordered w-full">
      <option value="male">Masculino</option>
      <option value="female">Femenino</option>
      <option value="unisex">Unisex</option>
    </select> -->

    <!-- Sizes -->
    <div class="grid grid-cols-6 gap-2">
      @for (size of sizes; track size) {
      <button (click)="onSizeClicked(size)"
      class="btn btn-sm" type="button"
      [class.btn-info]="productForm.value.sizes?.includes(size)"
      >{{ size }}</button>
      }
    </div>
  </div>

  <!-- Imágenes -->
  <div class="flex flex-col gap-2">
    <div class="flex justify-end h-12">
      <button class="btn btn-primary" type="submit">
        <!-- <span class="loading loading-spinner loading-sm"></span> -->

        Guardar
      </button>
    </div>

    <!-- <product-carousel [images]="product().images"/> -->
    <product-carousel [images]="imagesToCarrusel()"/>

    <input
    type="file"
    multiple
    accept="image/*"
    class="file-input file-input-bordered w-full mt-4"
    (change)="onFilesChanged($event)"
    />

    <div class="grid grid-cols-2 sm:grid-cols-4 gap-2 mt-2">
      @for (image of tempImages(); track image) {
        <img [src]="image" alt="Temporal image"
        class="w-full object-cover rounded-xl">
      }
    </div>
  </div>
</form>

@if(wasSaved()){
  <div>
    <span class="alert alert-success fixed bottom-4 right-4 w-80 animate-fadeIn">
      Datos actualizados
    </span>
  </div>
}
