<div class=" overflow-y-scroll w-screen h-screen antialiased text-base-content selection:bg-blue-600 selection:text-white ">
    <div class="flex flex-col relative w-screen">
        <div id="menu" class=" bg-base-200 min-h-screen z-10 text-base-content w-64 fixed left-0 h-screen overflow-y-scroll flex flex-col">
          <div id="logo" class="my-4 px-6">
              <h1 routerLink="/" class="text-2xl text-primary md:text-2xl font-extrabold cursor-pointer ">
              <i class="bi bi-caret-left-fill"></i>
              Urban
              <span class="text-warning ">| Shop </span></h1>

            <p class="text-base-content text-sm font-semibold mb-1.5">Gestiona el catálogo de productos</p>
          </div>
          <div id="profile" class="px-6 py-10">
            <p class="text-lg font-semibold mb-1.5">Bienvenido</p>
            <a href="#" class="inline-flex space-x-2 items-center">
                <span>
                    <img class="rounded-full w-8 h-8" src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=128&q=80" alt="">
                </span>
                <span class="text-xl md:text-base font-bold text-warning">
                    {{user()?.fullName}}
                </span>
                </a>
          </div>
          <div id="nav" class="w-full px-6 flex flex-col flex-1">
            <!-- <a routerLink="/admin/products" class="w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3 hover:bg-white/5 transition ease-linear duration-150">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-base-content">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z" />
                      </svg>

                </div>
                <div class="flex flex-col">
                    <span class="text-lg font-bold leading-5 text-base-content/50">Dashboard</span>
                    <span class="text-sm text-base-content/50 hidden md:block">Data Overview</span>
                </div>
            </a> -->
            <a routerLink="/admin/products"
            routerLinkActive="bg-base-100 rounded-xl"
            class="w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3 hover:bg-white/5 transition ease-linear duration-150">
                <div class="px-1.5">
                    <i class="bi bi-box-seam-fill"></i>
                </div>
                <div class="flex flex-col">
                    <span class="text-lg text-base-content font-bold leading-5">Productos</span>
                    <span class="text-sm text-base-content/50 hidden md:block">Listado de productos</span>
                </div>
            </a>
            <!-- menu item end -->
            <div class="flex flex-1 my-5"></div>
            <button (click)="authService.logout()" class="btn btn-error w-full mt-auto my-8">Cerrar sesión</button>
          </div>
        </div>
    </div>
    <div class="flex-1 ml-64 pt-5 px-5">
      <router-outlet></router-outlet>
    </div>
</div>
